body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://i.pinimg.com/564x/96/65/ee/9665ee06880689e64659fe31d065576f.jpg");
    height: 575px;
    width: 100%;
    color: white;
}
